export MARIADB_USERNAME=""
export MARIADB_PASSWORD=""
export MARIADB_HOSTNAME=""
export DB_PORT=""
export MARIADB_DATABASE=""
export DATABASE_URL=""
export COMPILER_API_CLIENT_ID=""
export COMPILER_API_CLIENT_SECRET=""
export PROBLEMS_ROOT=""
export PROBLEMS_REPO_ROOT=""
export GITHUB_WEBHOOK_TOKEN=""
export HMAC_KEY=""
