{
  "QKJUDGE_ADDRESS": "0.0.0.0",
  "COMPILER_API_CLIENT_ID": "",
  "COMPILER_API_CLIENT_SECRET": "",
  "PROBLEMS_ROOT": "problems/",
  "PROBLEMS_REPO_ROOT": "problems/",
	"GITHUB_WEBHOOK_TOKEN": "",
	"HMAC_KEY": ""
}
